<%- include('./common/head'); %>
<header>
    <%- include('./common/navbar', {user: user}); %>
</header>
<body>
    <p>Empty data visualization. Hopefully I managed to get each rows properly</p>
</body>